$color1: #ffffff;
$color2: #333333;
$color3: #cc6d44;
$color4: #cc6d44;
$color5: #023b58;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,400,700');

$font1: 'Montserrat', sans-serif;
$font2: 'Roboto', sans-serif;
