$icomoon-font-path: "../fonts/icomoon/fonts/" !default;

$icon-home3: "\e902";
$icon-spinner8: "\e981";
$icon-cog: "\e994";
$icon-plus: "\ea0a";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-google-plus: "\ea8b";
$icon-facebook: "\ea90";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
